<div class="row">
	<div class="text-center post">
		<img width="32px" src="<%= @post.user.gravatar_url %>" /> <a href="/user/<%= @post.user.id %>"><%= @post.user.username %></a>
	</div>
	<div class="text-center post-content">
		<%= @post.content %>
	</div>
</div>
<div class="row">
		<% @post.comments.each do |comment| %>
	<div class="text-center user">
		<img width="32px" src="<%= comment.user.gravatar_url %>" /> <a href="/user/<%= comment.user.id %>"><%= comment.user.username %></a>
	</div>
	<div class="text-center user-content">
		<%= comment.content %>
	</div>
	<% end %>
	<div class="col-md-12 text-center">
		  <form method="POST" action="/thread">
		    <span <%= 'class="error" ' if @error %> id="console"><%= @msg %></span>
		    <input type="hidden" name="post_id" value="<%= @post.id %>" />
		    <br>
		  	<textarea maxlength="255" cols="50" rows="10" name="message"></textarea>
		  	<br>
		  	<strong><span id="message-remaining"></span></strong>
		  	<br>
		  	<input class="btn btn-default" type="submit" />
		  </form>
		</div>
</div>