<h1 class="heading">We are the CSS to your HTML</h1><br/>
<img id="front-image" src="/img/home.jpg"/><br/><br/>
<div class="devvitorian">
	<h1 class="info">Devvitorian: </h1>
	<img class="devvitorian-avatar" width="128px" src="<%= @view_user.gravatar_url %>" />
		<br/>
	<h2 class="info">Username: <%= @view_user.username %>
		<br/><br/>E-mail: <%= @view_user.email %>
	</h2>
</div>
<div class="devvitorian">
	Posts
	<a href="/thread/<%= @view_post.id %>"><h2 class="post-info"><%= @view_post.title %></h2></a>
</div>